/* This Colour Scheme was borrowed from the Ace-Editor JSON theme. */
.string { color: rgb(3, 106, 7); }
.number { color: rgb(0, 0, 205); }
.boolean { color: rgb(88, 92, 246); }
.null { color: rgb(88, 92, 246); }
.key { color: rgb(49, 132, 149); }
